.cat-nacional, .cat-entretenimiento, .cat-tecnologia, .cat-mascotas, .cat-deportes{
	color: #fff;
}

.cat-nacional{
	background-color: #00B049;
}
.cat-entretenimiento{
	background-color: #FFC915;
}

.cat-tecnologia{
	background-color: #00D3F8;
}

.cat-mascotas{
	background-color: #00D3F8;
}

.cat-deportes{
	background-color: #FF372C;
}